[Unit]
Description=evading_server_js

[Service]
Type=simple
User=root
ExecStart=/bin/bash __DIR_TOP__/server/main_js.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target