[Unit]
Description=ev2_website

[Service]
Type=simple
User=root
ExecStart=/bin/bash /evading/website/main.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target