[Unit]
Description=evading_website_reboot

[Service]
Type=simple
User=root
ExecStart=/bin/bash __DIR_TOP__/website.sh
Restart=no

[Install]
WantedBy=multi-user.target